.titleNavbar {
  background-color: red;
  padding: 18px 20px;
  display: flex;
  justify-content: center;
  color: white;
}

.recuadro {
  width: 800px;
  /* Ancho del recuadro */
  height: 300px;
  /* Alto del recuadro */
  border: 2px solid gainsboro;
  /* Borde de 2 píxeles de grosor, estilo sólido y color negro */
  background-color: rgb(255, 255, 255);
  /* Color de fondo del recuadro */
  padding: 50px;
  /* Espacio interno para separar el contenido del borde */
  margin: 0 auto;
  /* Auto para centrar horizontalmente */
  text-align: center;
}

.imagenAjustada {
  width: 550px;
  height: 300px;
}

.btnBiografia {
  background-color: red;
  color: white;
  padding: 16px 50px;
}

.boton {
  text-align: center;
  padding: 20px;
}

.footer-title {
  background-color: red;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  color: white;
}

.elementomargenIndex {
  margin: 10px 10px 0px 10px;
}



/*------------------------------------------------*/
/*-------------------archivo biografia------------*/
/*------------------------------------------------*/
.navbar {
  background-color: red;
  /* Fondo rojo */
  padding: 15px 20px;
  /* Espaciado interno */
  display: flex;
  /* Mostrar elementos en línea */
  justify-content: center;
  /* Centrar contenido horizontalmente */
}

/* Estilos para el título de la barra de navegación */
.navbar-title {
  margin: 0;
  color: white;
  /* Texto blanco */
}

.contento {
  display: flex;
  justify-content: space-between;
  /* Distribuye los elementos horizontalmente */
  align-items: center;
  /* Centra verticalmente los elementos en el contenedor */
  padding: 50px 50px 20px 50px;

}

.textoimagen {
  padding: 50px 25px;
  border: 2px solid #a39c9c5c;
  /* 2px de ancho, sólido (tipo de borde) y color negro (#000) */
  display: flex;

}

.texto {
  flex: 1;
  /* Hace que el texto ocupe el espacio restante  */
  text-align: left;
}

.imagen {
  flex-shrink: 0;
  /*Evita que la imagen se reduzca si el espacio es insuficiente  */
  margin-left: 20px;
  /*Agrega un margen entre el texto y la imagen (ajusta según tu diseño)  */
  text-align: right;
}


.botonVolverAindex {
  padding: 20px;
}

.botonVolver {
  background-color: red;
  padding: 13px 50px;
  color: white;
}

/* Estilos para la barra de navegación */
.footer-biografia {
  background-color: red;
  /* Fondo rojo */
  padding: 40px 20px;
  /* Espaciado interno */
  display: flex;
  /* Mostrar elementos en línea */
  justify-content: center;
  /* Centrar contenido horizontalmente */
  color: white;
}

.elementomargen {
  margin: 10px 10px 0px 10px;
}

.p {
  text-align: center;
}